#if(${val-destinationFieldSelected} && ${val-sourceFieldSelected})
    $i18n.getText("copyvaluefromfield-function-view.function_text","<b>${val-destinationFieldSelected.name}</b>","<b>${val-sourceFieldSelected.name}</b>")
    <br/>Override: ${val-override}
#else
    $i18n.getText("copyvaluefromfield-function-view.wrong_selection")
#end